@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,300&display=swap');


:root {
    --cor1: #34ede7c0;
    --cor2: #36bdf7b7;
    --cor3: #3c78e0b7;
    --cor4: #363DF7;
    --cor5: #6D32F0; 
    font-family: 'Fredoka One', cursive;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Lilita One', cursive;
    font-family: 'DynaPuff', cursive;
    font-family: 'Grandstander', cursive;
}

* {
    margin: 0px;
    padding: 0px;

}

body {
    min-width: fit-content;
    display: block;
    background-color: var(--cor5);
    font-family: 'Lilita One', cursive;
    text-align: center;
    
}

header {
    
   color: white;
    background-image:linear-gradient(to top, var(--cor2),var(--cor4));
   font-size: 5vh;
    font-family: 'Fredoka One', cursive;
    text-shadow: 2px 1px 3px black;
    border-bottom: 0px solid black;
    box-shadow: 5px 4px 7px black;
    margin: auto;
    padding: 35px;
}

header > h1 {
    text-align: center;
    
}

h2 {
    text-align: center; 
    font-family: 'DynaPuff', cursive;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

p {
    line-height: 1.3em;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding:15px;
    padding-top: 20px;
    
}



p#butao {
    display: inline-block;
    line-height: 2.5em;
}

main {
   
    background-color: var(--cor2);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 7px 5px 9px black;
    padding: 10px;
    margin: 0px 20px 0px 20px;
}

div.bloco {
    display: inline-table;
    min-width: 200px;
    min-height: 250px;
    background-position: center center ;
    padding-bottom: 30px;


}

div.bloco#paragrafo {
    display: inline-table;
    font-family: 'Grandstander', cursive;
    min-width: 200px;

    min-height: 100px;
    background-position: center center ;
    padding-bottom: 30px;
}

div.bloco#paragrafo > p {
  font-family: 'Grandstander', cursive;  
  
}

nav {
    padding: 0px;
    padding-bottom: 30px;
}

a.curs {
    background-color: white;
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;;
    border: 4px solid var(--cor5);
    border-style: inset black;
    border-radius: 25% ;
    box-sizing: 1px;
    box-shadow: 3px 2px 5px black;
    padding: 15px;
    margin: 15px;
}

a.curs:hover {
    background-color: #6D32F0;
    color: white;
    transition-duration: .4s;
}

a#sitecurso {
    background-color: white;
    text-decoration: none;
    border-top-left-radius: 25% ;
    border-bottom-right-radius: 25%;
    border: 8px groove var(--cor2);
    box-shadow: 1px 1px 6px black;
    padding: 5px;
    margin: 5px;
}

a#sitecurso:hover {
    background-color: var(--cor5);
    color: white;

}

picture {
    background-position: top center;
    margin: -11px;
    padding-right: 320px;
    padding-top: 50px;
    margin-left: -6px;
    padding-bottom: 213px;
    position: relative;

}

picture > img {
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    min-width: 80px;
    max-width: 288px;
    height: 272px;
   
    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    text-size-adjust: 0.8em;
    border:1px solid black;
    margin: 0px;
    padding: 0px;

}

footer > p {
    font-family: Arial;
    text-align: center;
    text-size-adjust: 1em;
    border:1px solid black;
    margin: -0.5px;
    padding: 0px;

}

a.linkedin {
    text-decoration: underline;    
    color: red;
}

a.linkedin:hover {
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
}
